# Ignorar node_modules
node_modules/

# Ignorar archivos de logs
logs/
*.log

# Ignorar archivos de entorno
.env
.env.production

# Ignorar directorios de compilación
dist/
build/

# Ignorar archivos temporales del sistema operativo
.DS_Store
Thumbs.db

# Ignorar archivos de cache de npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar archivos de Sass cache
.sass-cache/